.editBookmark__form {
  text-align: left;
}

.editBookmark__form input,
.editBookmark__form textarea {
  display: block;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 15px;
  /* minus side pediting and border */
  width: calc(100% - 16px - 2px);
  padding: 5px 8px;
  border: 1px solid #ddd;
}

.editBookmark__form label {
  margin-top: 10px;
}

.editBookmark__buttons {
  text-align: center;
}

.editBookmark__required {
  color: #a51414;
}

.editBookmark__error p {
  color: #a51414;
  margin-bottom: 5px;
}
